.header {
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  align-items: center;
  padding: 92px 50px 96px 50px;
  font-family: Raleway, sans-serif;
  font-size: 18px;
  font-style: normal;
}

.header_logo-container{
  display: flex;
  justify-content: center;
  width: auto;
  margin: auto;
}

.header_logo-image{
  display: block;
  width: 148px;
  height: 105px;
}

 .header_links-item_no-bullit{
  list-style-type: none;
 }

 .header_links-list{
  list-style-type: none;
 }

.header_links_active {
  text-decoration: none;
}

.header_menu {
  display: flex;
  justify-self: center;
  flex-direction: row;
  column-gap: 9%;
  list-style-type: circle;
  font-size: 18px;

}
.header_link {
  font-family: Raleway;
  font-size: 18px;
  font-weight: 400;
  line-height: 21px;
  text-align: left;
  white-space: nowrap;
  text-underline-position: from-font;
  text-decoration:none;
  color: #000;
}

.address {
  display: flex;
  flex-direction: column;
  max-width: 240px;
  font-family: Raleway;
  font-size: 18px;
  font-style: normal;
  line-height: 1.35;
  text-underline-position:under;
  color: #000;
}
/*.address a{
border-bottom: 1px solid;
text-decoration: none;*/
.header_address{
  justify-self: end;
}

.cover{
  position: relative;
  background-image: url(../images/cover.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 165px 50px 50px 50px;
  margin-bottom: 180px;
  max-height: 757px;
  z-index: 1;
}

.overlay{
  position: absolute;
  background-color:#000;
  inset: 0;
  opacity: 60%;
  z-index: 2;
}

.cover_title{
  display: flex;
  position: relative;
  flex-direction: column;
  margin-bottom: 106px;
  max-height: 385px;
  gap: 20px;
  font-family: Raleway;
  text-transform: uppercase;
  font-size: 100px;
  font-weight: 700;
  line-height: 115px;
  letter-spacing: 0.3em;
  line-height: 1.15;
  color:#FFFFFF;
  z-index: 2;
}

.aligned_text{
  display: block;
  height: 135px;
}

.aligned_text_left{
  text-align: left;
}

.aligned_text_center{
  text-align: center;
}

.aligned_text_right{
  text-align: right;
}

.cover_discription{
  display: flex;
  position: relative;
  margin-bottom: 61px;
  width: 1000px;
  justify-content: space-between;
  z-index: 2;
}

.discription_text{
  font-family: Raleway;
  font-size: 22px;
  font-weight: 400;
  line-height: 28px;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  word-spacing: 28px;
  text-transform: uppercase;
  color: #FFFFFF;
}

.bet_button{
  background-color: transparent;
  border: 1px solid #FFFFFF;
  max-width: 256px;
  padding: 12px 32px 11px 31px;
  font-family: Raleway;
  font-size: 22px;
  font-weight: 500;
  line-height: 25.83px;
  text-align: center;
  text-transform: uppercase;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: #FFFFFF;
  z-index: 3;
}

.lots{
  padding-top: 74px;
  padding-bottom: 53px;
  margin: 0px 24px 120px 24px;
  max-height: 723px;
}

.lots_heading{
  padding: 0px 0px 27px 40px;
  text-transform: uppercase;
  font-size: 40px;
  font-weight: 700;
  color: #000;
}

.lots_card-list{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  justify-content: space-between;
  gap: 25px;
  list-style-type: none;
  
}
.lots_card-list-item{
  max-width: 334px;
  min-height: 554px;
  list-style-type: none; 
}

.card{
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: space-between;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  max-width: 334px;
  max-height: 596px;
  height: 100%;
  padding: 48px 40px;
  text-decoration: none;
}

.card_type_film{
  background-image: url(../images/card-lot-01.jpg);
  height: 100%;
}

.card_type_book{
  background-image: url(../images/card-lot-02.jpg);
  height: 100%;
}

.card_type_picture{
  background-image: url(../images/card-lot-03.jpg);
  height: 100%;
}

.card_title{
  font-family: Raleway;
  text-transform: uppercase;
  text-decoration: underline;
  text-align: left;
  z-index: 3;
  font-size: 22px;
  font-weight: 700;
  line-height: 120%;
  color: #FFFFFF;
}

.card_text{
  font-family: Raleway;
  line-height: 24px;
  text-align: left;
  font-size: 20px;
  font-weight: 400;
  line-height: 120%;
  color: #FFFFFF;
  z-index: 2;
}

.card_link{
  text-decoration: none;
  height: 100%;
}

.lots_link{
  display: block;
  margin: 30px 0px 0px 40px;
  font-family: Raleway;
  text-decoration: underline;
  text-align: left;
  font-size: 20px;
  font-weight: 400;
  line-height: 23.48px;
  color: #000;
}

.about {
  display: grid;
  align-items: start;
  grid-template-columns: 334px 1fr;
  margin: 0px 24px 180px 24px;
}

.logo_about-column{
    display: flex; 
    justify-content: center;
    align-items: flex-end;
    padding-top: 35px;
}

.about_logo-container{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #000;
  border-radius: 50%;
  width: 240px;
  height: 240px;
}

.about_logo-image{
  display: block;
  width: 148px;
  height: 114px;
  }

.about_text{
    padding-left: 25px;
  }

  .about_title{
  margin-top: 136px;
  padding-bottom: 100px;
  font-family: Raleway;
  font-size: 40px;
  font-weight: 700;
  line-height: 46.96px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;

  }

.about_paragraph{
  font-family: Raleway;
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  }

.first_paragraph{
  margin-bottom: 24px;
  }

.footer {
  display: grid;
  grid-template-columns: repeat(3,1fr);
  align-items:start;
  padding: 0px 50px 82px 50px;
}

.footer_menu {
  display: flex;
  align-self: center;
  align-items: center;
  flex-direction: column;
  column-gap: 9%;
  list-style-type: none;
  font-size: 18px;
}

.footer_links-item_no-bullit{
  list-style-type: none;
 }

 .footer_address{
  justify-self: start;
 }

 .footer_social{
  display: flex;
  flex-direction: row;
  justify-self: end;
  align-items: start;
  justify-content: space-between;
  row-gap: 9%;
  list-style-type: none;
  font-size: 18px;
  max-width: 240px;
}

.footer_social-list-item_no_bullit{
  margin: 0 10px;
 }
 
 .footer_social-icon{
  display: block;
  width: 48px;
  height: 48px;
 }

